{% extends "base_usuario.html" %}
{% block title %}Agendar Salón Comunal{% endblock %}

{% block content %}
<h2>Solicitar Uso del Salón Comunal</h2>

{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for category, message in messages %}
      <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST" enctype="multipart/form-data">
  <div class="mb-3">
      <label for="fecha" class="form-label">Fecha de la Reserva</label>
      <input type="date" class="form-control" id="fecha" name="fecha" required>
  </div>

  <div class="mb-3">
      <label for="horario" class="form-label">Horario</label>
      <select class="form-control" id="horario" name="horario" required>
          <option value="Diurno">Diurno (8am - 3pm)</option>
          <option value="Nocturno">Nocturno (3pm - 8pm)</option>
      </select>
  </div>

  <div class="mb-3">
      <label for="descripcion" class="form-label">Descripción (máx. 300 caracteres)</label>
      <textarea class="form-control" id="descripcion" name="descripcion" rows="3" maxlength="300" required></textarea>
  </div>


  <button type="submit" class="btn btn-primary">Agendar</button>
  <a href="{{ url_for('reserva.mis_agendas') }}" class="btn btn-secondary">Cancelar</a>
</form>

{% endblock %}
