{% extends "base_usuario.html" %}
{% block title %}Mis Reservas{% endblock %}

{% block content %}
<h2>Mis Reservas</h2>

{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for category, message in messages %}
      <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<a href="/reserva/agendar_salon">
    <input type="button" value="Agendar" />
  </a>
<table border="1">
    <tr>
        <th>Fecha</th>
        <th>Hora Inicio</th>
        <th>Hora Fin</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>
    {% for agenda in agendas %}
    <tr>
        <td>{{ agenda.fecha }}</td>
        <td>{{ agenda.hora_inicio }}</td>
        <td>{{ agenda.hora_fin }}</td>
        <td>
            {% if agenda.id_estado == 1 %}
                Pendiente
            {% elif agenda.id_estado == 2 %}
                Espera de Aprobación
            {% elif agenda.id_estado == 3 %}
                Aprobada
            {% else %}
                Rechazada
            {% endif %}
        </td>
        <td>
            {% if agenda.id_estado == 1 %}
                <a href="{{ url_for('reserva.editar_reserva', id=agenda.id) }}">Editar</a>
                <form method="POST" action="{{ url_for('reserva.eliminar_agenda', id=agenda.id) }}" style="display:inline;">
                    <button type="submit">Eliminar</button>
                </form>
            {% endif %}
            
            <form method="POST" action="{{ url_for('reserva.descargar_factura', id=agenda.id) }}" style="display:inline;">
                <button type="submit">Generar Factura</button>
            </form>
            
            {% if agenda.id_estado == 1 %}
                <form method="POST" action="{{ url_for('reserva.subir_comprobante', id=agenda.id) }}" enctype="multipart/form-data" style="display:inline;">
                    <input type="file" name="comprobante" required>
                    <button type="submit">Subir Comprobante</button>
                </form>
            {% endif %}

            {% if agenda.comprobante_pago %}
                <p>Comprobante de pago: <a href="{{ url_for('reserva.ver_comprobante', filename=agenda.comprobante_pago) }}" target="_blank">Ver Comprobante</a></p>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
