{% extends "base.html" %}

{% block content %}
<h1>Agregar Nuevo Producto</h1>
<form action="/producto/agregar" method="post">
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre del Producto</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ej. Copa de Vainilla" required>
    </div>
    
    <div class="mb-3">
        <label for="precio" class="form-label">Precio Público</label>
        <input type="number" class="form-control" id="precio" name="precio" placeholder="Ej. 7500" step="0.01" required>
    </div>

    <div class="mb-3">
        <label for="tipo" class="form-label">Tipo Producto</label>
        <input type="text" class="form-control" id="tipo" name="tipo" placeholder="Ej. copa o malteada" required>
    </div>

    <div class="mb-3">
        <label for="ingredientes" class="form-label">Selecciona los Ingredientes</label>

            {% for ingrediente in ingredientes %}
            <div>
                <label>
                    <input type="checkbox" id="ingredientes" name="ingredientes" value="{{ ingrediente.id }}">{{ ingrediente.nombre }} - ${{ ingrediente.precio }}
                </label>
            </div>
            {% endfor %}
   
    </div>
    
    <button type="submit" class="btn btn-primary">Agregar Producto</button>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="mt-4">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
{% endblock %}
