{% extends "base_admin.html" %}
{% block title %}Gestión de Usuarios{% endblock %}

{% block content %}
<h2>Lista de Usuarios</h2>
<a href="/register">
  <input type="button" value="Crear Usuario" />
</a>
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    {% for category, message in messages %}
      <p class="{{ category }}">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<table border="1">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Rol</th>
        <th>Casa</th>
        <th>Acciones</th>
    </tr>
    {% for usuario in usuarios %}
    <tr>
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.telefono or 'No registrado' }}</td>
        <td>{{ usuario.rol.nombre if usuario.rol else 'Sin rol asignado' }}</td>
        <td>{{ usuario.id_casa }}</td>
        <td>
            <a href="{{ url_for('usuarios.editar_usuario', id=usuario.id) }}">Editar</a>
            <form action="{{ url_for('usuarios.eliminar_usuario', id=usuario.id) }}" method="POST" style="display:inline;">
                <button type="submit" onclick="return confirm('¿Seguro que deseas eliminar este usuario?')">Eliminar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
